IMPORT LIBS

In [1]:
import ast
import sqlite3
import pandas as pd

LEITURA ARQUIVOS CSV

In [2]:
paises_regiao = pd.read_csv('paises_regiao.csv')
paises_moeda = pd.read_csv('paises_moeda.csv')
paises_area = pd.read_csv('paises_area.csv')

TRATAMENTO DAS BASES

In [3]:
#BASE REGIAO
paises_regiao_sem_nulos1 = pd.read_csv('paises_regiao.csv')

paises_regiao_sem_nulos = paises_regiao_sem_nulos1.dropna(how='any')

#def para extrair código e o nome da moeda
def extrair_info_pais(row):
    try:
        codigo = row['ccn3']
        info_nome = ast.literal_eval(row['name'])  # Converte a string para um dicionário Python
        nome_pais = info_nome['common']
        capital = ast.literal_eval(row['capital'])[0]
        regiao = row['region']
        return codigo, nome_pais, capital, regiao
    except (KeyError, ValueError, SyntaxError, IndexError):
        return None, None, None, None

# Aplicar a função para extrair o nome do país, capital e região e criar novas colunas
paises_regiao_sem_nulos['Cod'], paises_regiao_sem_nulos['Nome Pais'], paises_regiao_sem_nulos['Capital'], paises_regiao_sem_nulos['Região'] = zip(*paises_regiao_sem_nulos.apply(extrair_info_pais, axis=1))

#exclusao colunas "Moeda" e "ccn3"
paises_regiao_sem_nulos.drop(columns=['name'], inplace=True)
paises_regiao_sem_nulos.drop(columns=['ccn3'], inplace=True)
paises_regiao_sem_nulos.drop(columns=['region'], inplace=True)
paises_regiao_sem_nulos.drop(columns=['capital'], inplace=True)

print(paises_regiao_sem_nulos)

       Cod           Nome Pais           Capital    Região
0    498.0             Moldova          Chișinău    Europe
1    840.0       United States  Washington, D.C.  Americas
2    175.0             Mayotte         Mamoudzou    Africa
3    520.0               Nauru             Yaren   Oceania
4    508.0          Mozambique            Maputo    Africa
..     ...                 ...               ...       ...
245  204.0               Benin        Porto-Novo    Africa
246  392.0               Japan             Tokyo      Asia
247  214.0  Dominican Republic     Santo Domingo  Americas
248  634.0               Qatar              Doha      Asia
249  266.0               Gabon        Libreville    Africa

[249 rows x 4 columns]

C:\Users\bianc\AppData\Local\Temp\ipykernel_800\3838139320.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  paises_regiao_sem_nulos['Cod'], paises_regiao_sem_nulos['Nome Pais'], paises_regiao_sem_nulos['Capital'], paises_regiao_sem_nulos['Região'] = zip(*paises_regiao_sem_nulos.apply(extrair_info_pais, axis=1))
C:\Users\bianc\AppData\Local\Temp\ipykernel_800\3838139320.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  paises_regiao_sem_nulos['Cod'], paises_regiao_sem_nulos['Nome Pais'], paises_regiao_sem_nulos['Capital'], paises_regiao_sem_nulos['Região'] = zip(*paises_regiao_sem_nulos.apply(extrair_info_pais, axis=1))
C:\Users\bianc\AppData\Local\Temp\ipykernel_800\3838139320.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  paises_regiao_sem_nulos['Cod'], paises_regiao_sem_nulos['Nome Pais'], paises_regiao_sem_nulos['Capital'], paises_regiao_sem_nulos['Região'] = zip(*paises_regiao_sem_nulos.apply(extrair_info_pais, axis=1))
C:\Users\bianc\AppData\Local\Temp\ipykernel_800\3838139320.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  paises_regiao_sem_nulos['Cod'], paises_regiao_sem_nulos['Nome Pais'], paises_regiao_sem_nulos['Capital'], paises_regiao_sem_nulos['Região'] = zip(*paises_regiao_sem_nulos.apply(extrair_info_pais, axis=1))
C:\Users\bianc\AppData\Local\Temp\ipykernel_800\3838139320.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  paises_regiao_sem_nulos.drop(columns=['name'], inplace=True)
C:\Users\bianc\AppData\Local\Temp\ipykernel_800\3838139320.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  paises_regiao_sem_nulos.drop(columns=['ccn3'], inplace=True)
C:\Users\bianc\AppData\Local\Temp\ipykernel_800\3838139320.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  paises_regiao_sem_nulos.drop(columns=['region'], inplace=True)
C:\Users\bianc\AppData\Local\Temp\ipykernel_800\3838139320.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  paises_regiao_sem_nulos.drop(columns=['capital'], inplace=True)

In [4]:
#BASE MOEDA
paises_moeda_sem_nulos1 = pd.read_csv('paises_moeda.csv')

paises_moeda_sem_nulos = paises_moeda_sem_nulos1.dropna()

#def para extrair código e o nome da moeda
def extrair_codigo_e_nome_moeda(row):
    try:
        codigo = row['ccn3']
        info_moeda = ast.literal_eval(row['currencies'])  #converte string para um dict
        nome_moeda = list(info_moeda.values())[0]['name']
        return codigo, nome_moeda
    except (KeyError, ValueError, SyntaxError, IndexError):
        return None, None

#usa a def para extrair o código e o nome da moeda criando novas colunas
paises_moeda_sem_nulos['Cod'], paises_moeda_sem_nulos['Moeda'] = zip(*paises_moeda_sem_nulos.apply(extrair_codigo_e_nome_moeda, axis=1))

#exclusao colunas "Moeda" e "ccn3"
paises_moeda_sem_nulos.drop(columns=['currencies'], inplace=True)
paises_moeda_sem_nulos.drop(columns=['ccn3'], inplace=True)

print(paises_moeda_sem_nulos)

       Cod                      Moeda
0    498.0               Moldovan leu
1    840.0       United States dollar
2    175.0                       Euro
3    520.0          Australian dollar
4    508.0         Mozambican metical
..     ...                        ...
245  204.0     West African CFA franc
246  392.0               Japanese yen
247  214.0             Dominican peso
248  634.0               Qatari riyal
249  266.0  Central African CFA franc

[249 rows x 2 columns]

C:\Users\bianc\AppData\Local\Temp\ipykernel_800\175211324.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  paises_moeda_sem_nulos['Cod'], paises_moeda_sem_nulos['Moeda'] = zip(*paises_moeda_sem_nulos.apply(extrair_codigo_e_nome_moeda, axis=1))
C:\Users\bianc\AppData\Local\Temp\ipykernel_800\175211324.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  paises_moeda_sem_nulos['Cod'], paises_moeda_sem_nulos['Moeda'] = zip(*paises_moeda_sem_nulos.apply(extrair_codigo_e_nome_moeda, axis=1))
C:\Users\bianc\AppData\Local\Temp\ipykernel_800\175211324.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  paises_moeda_sem_nulos.drop(columns=['currencies'], inplace=True)
C:\Users\bianc\AppData\Local\Temp\ipykernel_800\175211324.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  paises_moeda_sem_nulos.drop(columns=['ccn3'], inplace=True)

In [5]:
#BASE AREA
df = pd.read_csv('paises_area.csv')

# Remover linhas com valores nulos em qualquer coluna
paises_area_sem_nulos = df.dropna()
paises_area_sem_nulos.rename(columns={'ccn3': 'Cod', 'latlng': 'Coordenadas', 'area': 'Área', 'population': 'População'}, inplace=True)

print(paises_area_sem_nulos)

       Cod                  Coordenadas       Área  População
0    498.0                 [47.0, 29.0]    33846.0    2617820
1    840.0                [38.0, -97.0]  9372610.0  329484123
2    175.0  [-12.83333333, 45.16666666]      374.0     226915
3    520.0  [-0.53333333, 166.91666666]       21.0      10834
4    508.0               [-18.25, 35.0]   801590.0   31255435
..     ...                          ...        ...        ...
245  204.0                  [9.5, 2.25]   112622.0   12123198
246  392.0                [36.0, 138.0]   377930.0  125836021
247  214.0         [19.0, -70.66666666]    48671.0   10847904
248  634.0                [25.5, 51.25]    11586.0    2881060
249  266.0                [-1.0, 11.75]   267668.0    2225728

[249 rows x 4 columns]

C:\Users\bianc\AppData\Local\Temp\ipykernel_800\3134800525.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  paises_area_sem_nulos.rename(columns={'ccn3': 'Cod', 'latlng': 'Coordenadas', 'area': 'Área', 'population': 'População'}, inplace=True)

SALVA BASES TRATADAS EM CSV

In [6]:
paises_regiao_sem_nulos.to_csv('analitica_paises_regiao_tratada.csv', index=False)
paises_moeda_sem_nulos.to_csv('analitica_paises_moeda_tratada.csv', index=False)
paises_area_sem_nulos.to_csv('analitica_paises_area_tratada.csv', index=False)

TIPOS DE VARIAVEIS DE CADA DF

In [7]:
#Próximo passo é analisar os tipos de variáveis em cada dataframe
print("Tipos de variáveis em paises_regiao:")
print(paises_regiao_sem_nulos.info())

print("\nTipos de variáveis em paises_moeda:")
print(paises_moeda_sem_nulos.info())

print("\nTipos de variáveis em paises_area:")
print(paises_area_sem_nulos.info())

Tipos de variáveis em paises_regiao:
<class 'pandas.core.frame.DataFrame'>
Int64Index: 249 entries, 0 to 249
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Cod        245 non-null    float64
 1   Nome Pais  245 non-null    object
 2   Capital    245 non-null    object
 3   Região     245 non-null    object
dtypes: float64(1), object(3)
memory usage: 9.7+ KB
None

Tipos de variáveis em paises_moeda:
<class 'pandas.core.frame.DataFrame'>
Int64Index: 249 entries, 0 to 249
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Cod     246 non-null    float64
 1   Moeda   246 non-null    object
dtypes: float64(1), object(1)
memory usage: 5.8+ KB
None

Tipos de variáveis em paises_area:
<class 'pandas.core.frame.DataFrame'>
Int64Index: 249 entries, 0 to 249
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Cod          249 non-null    float64
 1   Coordenadas  249 non-null    object
 2   Área         249 non-null    float64
 3   População    249 non-null    int64
dtypes: float64(2), int64(1), object(1)
memory usage: 9.7+ KB
None

VERIFICA SE SEM BASE COM DADOS NULOS, EM BRANCO OU SEMELHANTE A VAZIO

In [8]:
#Agora vamos analisar os valores ausentes
print("Valores ausentes em paises_regiao:")
print(paises_regiao_sem_nulos.isna().sum())

print("\nValores ausentes em paises_moeda:")
print(paises_moeda_sem_nulos.isna().sum())

print("\nValores ausentes em paises_area:")
print(paises_area_sem_nulos.isna().sum())

Valores ausentes em paises_regiao:
Cod          4
Nome Pais    4
Capital      4
Região       4
dtype: int64

Valores ausentes em paises_moeda:
Cod      3
Moeda    3
dtype: int64

Valores ausentes em paises_area:
Cod            0
Coordenadas    0
Área           0
População      0
dtype: int64

JOIN DAS 3 TABELAS

In [9]:
# primeiro join (regiao e moda) usando a chave "cod"
final_df = pd.merge(paises_regiao_sem_nulos, paises_moeda_sem_nulos, on='Cod', how='inner')

# segundo join (merged_df com area) usando a chave "cod"
basefull = pd.merge(final_df, paises_area_sem_nulos, on='Cod', how='inner')

# Exibir o DataFrame resultante
print(basefull)

       Cod           Nome Pais           Capital    Região  \
0    498.0             Moldova          Chișinău    Europe
1    840.0       United States  Washington, D.C.  Americas
2    175.0             Mayotte         Mamoudzou    Africa
3    520.0               Nauru             Yaren   Oceania
4    508.0          Mozambique            Maputo    Africa
..     ...                 ...               ...       ...
240  204.0               Benin        Porto-Novo    Africa
241  392.0               Japan             Tokyo      Asia
242  214.0  Dominican Republic     Santo Domingo  Americas
243  634.0               Qatar              Doha      Asia
244  266.0               Gabon        Libreville    Africa

                         Moeda                  Coordenadas       Área  \
0                 Moldovan leu                 [47.0, 29.0]    33846.0
1         United States dollar                [38.0, -97.0]  9372610.0
2                         Euro  [-12.83333333, 45.16666666]      374.0
3            Australian dollar  [-0.53333333, 166.91666666]       21.0
4           Mozambican metical               [-18.25, 35.0]   801590.0
..                         ...                          ...        ...
240     West African CFA franc                  [9.5, 2.25]   112622.0
241               Japanese yen                [36.0, 138.0]   377930.0
242             Dominican peso         [19.0, -70.66666666]    48671.0
243               Qatari riyal                [25.5, 51.25]    11586.0
244  Central African CFA franc                [-1.0, 11.75]   267668.0

     População
0      2617820
1    329484123
2       226915
3        10834
4     31255435
..         ...
240   12123198
241  125836021
242   10847904
243    2881060
244    2225728

[245 rows x 8 columns]

In [10]:

print("\nValores ausentes em base_full:")
print(basefull.isna().sum())

Valores ausentes em base_full:
Cod            0
Nome Pais      0
Capital        0
Região         0
Moeda          0
Coordenadas    0
Área           0
População      0
dtype: int64

CRIACAO TABELA - BANCO DE DADOS

In [11]:
conn = sqlite3.connect('basefull.db')

paises_regiao_sem_nulos.to_sql('paisesregiao', conn, if_exists='replace', index=False)

cursor = conn.cursor()

In [12]:
conn = sqlite3.connect('basefull.db')
query = "SELECT * FROM paisesregiao"
df_regiao = pd.read_sql(query, conn)
print(df_regiao)

conn.close()

       Cod           Nome Pais           Capital    Região
0    498.0             Moldova          Chișinău    Europe
1    840.0       United States  Washington, D.C.  Americas
2    175.0             Mayotte         Mamoudzou    Africa
3    520.0               Nauru             Yaren   Oceania
4    508.0          Mozambique            Maputo    Africa
..     ...                 ...               ...       ...
244  204.0               Benin        Porto-Novo    Africa
245  392.0               Japan             Tokyo      Asia
246  214.0  Dominican Republic     Santo Domingo  Americas
247  634.0               Qatar              Doha      Asia
248  266.0               Gabon        Libreville    Africa

[249 rows x 4 columns]

In [13]:
conn = sqlite3.connect('basefull.db')

paises_moeda_sem_nulos.to_sql('paisesmoeda', conn, if_exists='replace', index=False)

cursor = conn.cursor()

In [14]:
conn = sqlite3.connect('basefull.db')
query = "SELECT * FROM paisesmoeda"
df_moeda = pd.read_sql(query, conn)
print(df_moeda)

conn.close()

       Cod                      Moeda
0    498.0               Moldovan leu
1    840.0       United States dollar
2    175.0                       Euro
3    520.0          Australian dollar
4    508.0         Mozambican metical
..     ...                        ...
244  204.0     West African CFA franc
245  392.0               Japanese yen
246  214.0             Dominican peso
247  634.0               Qatari riyal
248  266.0  Central African CFA franc

[249 rows x 2 columns]

In [15]:
conn = sqlite3.connect('basefull.db')

paises_area_sem_nulos.to_sql('paisesarea', conn, if_exists='replace', index=False)

cursor = conn.cursor()

In [16]:
conn = sqlite3.connect('basefull.db')
query = "SELECT * FROM paisesarea"
df_area = pd.read_sql(query, conn)
print(df_area)

conn.close()

       Cod                  Coordenadas       Área  População
0    498.0                 [47.0, 29.0]    33846.0    2617820
1    840.0                [38.0, -97.0]  9372610.0  329484123
2    175.0  [-12.83333333, 45.16666666]      374.0     226915
3    520.0  [-0.53333333, 166.91666666]       21.0      10834
4    508.0               [-18.25, 35.0]   801590.0   31255435
..     ...                          ...        ...        ...
244  204.0                  [9.5, 2.25]   112622.0   12123198
245  392.0                [36.0, 138.0]   377930.0  125836021
246  214.0         [19.0, -70.66666666]    48671.0   10847904
247  634.0                [25.5, 51.25]    11586.0    2881060
248  266.0                [-1.0, 11.75]   267668.0    2225728

[249 rows x 4 columns]

In [17]:
conn = sqlite3.connect('basefull.db')

basefull.to_sql('baserestcountries', conn, if_exists='replace', index=False)

cursor = conn.cursor()

In [18]:
conn = sqlite3.connect('basefull.db')
query = "SELECT * FROM baserestcountries"
df_full = pd.read_sql(query, conn)
print(df_full)

conn.close()

       Cod           Nome Pais           Capital    Região  \
0    498.0             Moldova          Chișinău    Europe
1    840.0       United States  Washington, D.C.  Americas
2    175.0             Mayotte         Mamoudzou    Africa
3    520.0               Nauru             Yaren   Oceania
4    508.0          Mozambique            Maputo    Africa
..     ...                 ...               ...       ...
240  204.0               Benin        Porto-Novo    Africa
241  392.0               Japan             Tokyo      Asia
242  214.0  Dominican Republic     Santo Domingo  Americas
243  634.0               Qatar              Doha      Asia
244  266.0               Gabon        Libreville    Africa

                         Moeda                  Coordenadas       Área  \
0                 Moldovan leu                 [47.0, 29.0]    33846.0
1         United States dollar                [38.0, -97.0]  9372610.0
2                         Euro  [-12.83333333, 45.16666666]      374.0
3            Australian dollar  [-0.53333333, 166.91666666]       21.0
4           Mozambican metical               [-18.25, 35.0]   801590.0
..                         ...                          ...        ...
240     West African CFA franc                  [9.5, 2.25]   112622.0
241               Japanese yen                [36.0, 138.0]   377930.0
242             Dominican peso         [19.0, -70.66666666]    48671.0
243               Qatari riyal                [25.5, 51.25]    11586.0
244  Central African CFA franc                [-1.0, 11.75]   267668.0

     População
0      2617820
1    329484123
2       226915
3        10834
4     31255435
..         ...
240   12123198
241  125836021
242   10847904
243    2881060
244    2225728

[245 rows x 8 columns]

VISUALIZACAO FINAL DA BASE FULL DAS 3 TABELAS

In [19]:
df_full.head(10)

,Cod,Nome Pais,Capital,Região,Moeda,Coordenadas,Área,População
0,498.0,Moldova,Chișinău,Europe,Moldovan leu,"[47.0, 29.0]",33846.0,2617820
1,840.0,United States,"Washington, D.C.",Americas,United States dollar,"[38.0, -97.0]",9372610.0,329484123
2,175.0,Mayotte,Mamoudzou,Africa,Euro,"[-12.83333333, 45.16666666]",374.0,226915
3,520.0,Nauru,Yaren,Oceania,Australian dollar,"[-0.53333333, 166.91666666]",21.0,10834
4,508.0,Mozambique,Maputo,Africa,Mozambican metical,"[-18.25, 35.0]",801590.0,31255435
5,76.0,Brazil,Brasília,Americas,Brazilian real,"[-10.0, -55.0]",8515767.0,212559409
6,132.0,Cape Verde,Praia,Africa,Cape Verdean escudo,"[16.5388, -23.0418]",4033.0,555988
7,226.0,Equatorial Guinea,Malabo,Africa,Central African CFA franc,"[2.0, 10.0]",28051.0,1402985
8,8.0,Albania,Tirana,Europe,Albanian lek,"[41.0, 20.0]",28748.0,2837743
9,850.0,United States Virgin Islands,Charlotte Amalie,Americas,United States dollar,"[18.35, -64.933333]",347.0,106290

In [20]:
df.shape

(250, 4)

In [21]:
conn = sqlite3.connect('basefull.db')

# Executar uma consulta que retorna as informações do esquema do banco de dados
query = "SELECT name FROM sqlite_master WHERE type='table'"
schema = pd.read_sql_query(query, conn)

# Imprimir o DataFrame com os nomes das tabelas
print(schema)

conn.close()

                name
0       paisesregiao
1        paisesmoeda
2         paisesarea
3  baserestcountries